api:
  dashboard: true
  debug: false

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: web
    apiVersion: "1.44"

certificatesResolvers:
  letsencrypt:
    acme:
      email: your-email@example.com  # ЗАМІНЬ на свій реальний email
      storage: acme.json
      httpChallenge:
        entryPoint: http

log:
  level: INFO